<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" class="input">
    <button class="join" onclick="handleJoin()">join</button>
    <button class="start" onclick="handleStart()">Start</button>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="js/front.js"></script>
</body>
</html>